// Common className
.border-bottom {
    border-bottom: 8px solid #222;
}

////////////////////////////////

// landing.js style

////////////////////////////////
.landing-wrap {
    // width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;

    .home-container {
        width: 100%;
        height: 100vh;
        margin: 0 auto;

        position: relative;
        z-index: 10;
        .bg-img {
            position: absolute;
            z-index: -10;
            background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                ),
                linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0.8) 0%,
                    rgba(0, 0, 0, 0) 100%
                );

            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__top-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 50px;

            @media screen and (max-width: 768px) {
                padding: 5px 15px;
            }

            .img-cover {
                width: 140px;
                height: 40px;

                @media screen and (max-width: 768px) {
                    width: 70px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .btn-func {
                margin-right: 20px;
                display: flex;
                gap: 0 20px;

                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    gap: 0 5px;
                }

                .languages {
                    padding: 5px 10px;
                    padding-right: 10px;
                    font-family: Netflix Sans;
                    font-size: 20px;
                    line-height: 26px;
                    cursor: pointer;

                    @media screen and (max-width: 768px) {
                        padding: 3px;
                        font-size: 14px;
                    }
                }

                .button {
                    padding: 5px 10px;
                    border-radius: 3px;
                    border: none;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-family: Netflix Sans;
                    font-size: 20px;
                    line-height: 26px;
                    text-decoration: none;

                    /* White */
                    color: #ffffff;
                    background: #d6000f;

                    @media screen and (max-width: 768px) {
                        padding: 3px;
                        font-size: 14px;
                    }
                }
            }
        }

        &__center-items {
            max-width: 80%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            text-align: center;
            color: #ffffff;

            @media screen and (max-width: 768px) {
                max-width: 90%;
                padding: 0 10px;
            }

            .title {
                font-family: Netflix Sans;
                font-size: 65px;

                @media screen and (max-width: 768px) {
                    font-size: 30px;
                }
            }

            .text {
                font-family: Netflix Sans;
                font-size: 35px;

                @media screen and (max-width: 768px) {
                    font-size: 17px;
                }
            }
        }
    }
}

////////////////////////////////

// Features.js Style

////////////////////////////////
.features-container {
    position: relative;
    z-index: 1;

    background-color: #141414;

    .card {
        background-color: #141414;

        padding: 50px 100px;

        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0 40px;

        @media screen and (max-width: 768px) {
            padding: 20px 80px;
            gap: 20px;
            flex-direction: column;
        }
        @media screen and (max-width: 425px) {
            padding: 20px;
            flex-direction: column;
        }

        .text-wrap {
            .title {
                color: #fff;
                font-size: 3.125rem;
                line-height: 1.1;
                margin-bottom: 0.5rem;

                @media screen and (max-width: 425px) {
                    font-size: 1.5rem;
                }
            }
            .des {
                font-size: 1.625rem;
                font-weight: 400;
                color: #fff;
                @media screen and (max-width: 425px) {
                    font-size: 0.7rem;
                }
            }

            .getapp {
                font-size: 1.625rem;
                font-weight: 400;
                color: #fff;

                @media screen and (max-width: 425px) {
                    font-size: 0.7rem;
                }
            }
        }

        .animation-wrap {
            position: relative;

            img {
                z-index: 2;
                width: 100%;
                height: 100%;
                object-fit: cover;

                @media screen and (max-width: 768px) {
                }
            }
            .section-wrap {
                position: relative;

                .video-wrap {
                    width: 75%;
                    height: 60%;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    video {
                        width: 100%;
                        // height: 100%;
                    }
                }
            }

            .boxshot-wrap {
                width: 50%;
                padding: 10px 20px;

                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translateX(-50%);

                display: flex;
                align-items: center;
                gap: 0 20px;

                background-color: #141414;
                border: 2px solid rgba(255, 255, 255, 0.25);
                border-radius: 0.75em;

                @media screen and (max-width: 768px) {
                    padding: 5px;
                }

                img {
                    height: 4.5em;
                    width: 3.5em;
                    object-fit: cover;

                    @media screen and (max-width: 768px) {
                        height: 3.5em;
                        width: 2.5em;
                    }
                }
                .text-boxshot {
                    display: flex;
                    flex-direction: column;
                    gap: 6px 0;

                    @media screen and (max-width: 768px) {
                        gap: 3px 0;
                    }

                    .title {
                        font-size: 1em;
                        color: #fff;
                        font-weight: 600;
                        @media screen and (max-width: 425px) {
                            font-size: 0.7em;
                        }
                    }
                    .des {
                        font-size: 0.9em;
                        color: #0071eb;
                        font-weight: 400;
                        @media screen and (max-width: 425px) {
                            font-size: 0.6em;
                        }
                    }
                }
            }
        }
    }
}

////////////////////////////////

// faq.js style

////////////////////////////////

.faq-container {
    padding: 70px 45px;
    width: 100%;

    @media screen and (max-width: 425px) {
        padding: 20px;
    }

    .title {
        text-align: center;
        color: #fff;

        font-size: 3.5rem;
        line-height: 1.1;
        margin-bottom: 3.5rem;

        @media screen and (max-width: 425px) {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
    }

    .questions {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 7px 0;

        @media screen and (max-width: 425px) {
            margin-top: 0;
        }

        .question {
            .details {
                background-color: #303030;
                padding: 16px 44px 16px 24px;
                max-width: 70%;
                margin: 0 auto;

                @media screen and (max-width: 425px) {
                    padding: 15px;
                    max-width: 100%;
                }

                cursor: pointer;
                summary {
                    list-style-type: disc;
                    color: #fff;
                    font-size: 2rem;

                    @media screen and (max-width: 425px) {
                        font-size: 1rem;
                    }
                }
                .text {
                    width: 100%;
                    margin-top: 20px;
                    color: #fff;
                    font-size: 1.5rem;

                    @media screen and (max-width: 425px) {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}
