.emailAddress {
    margin: 20px auto;
    margin-top: 40px;

    max-width: 90%;
    text-align: center;

    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }

    .small-text {
        font-family: Netflix Sans;
        font-size: 35px;

        @media screen and (max-width: 768px) {
            font-size: 15px;
        }
    }

    .form-email {
        height: 70px;
        display: flex;

        @media screen and (max-width: 768px) {
            height: 50px;
        }

        input {
            width: 75%;
            padding: 10px 20px;

            font-family: Netflix Sans;
            font-weight: normal;
            font-size: 25px;
            line-height: 26px;

            color: #797979;

            @media screen and (max-width: 768px) {
                padding: 5px 10px;
                font-size: 17px;
            }
        }

        button {
            width: 25%;
            border: none;

            font-family: Netflix Sans;
            font-size: 25px;
            line-height: 40px;

            background: #d6000f;
            color: #ffffff;

            @media screen and (max-width: 768px) {
                line-height: 1;
                font-size: 13px;
            }
        }
    }
}
